/* Universal */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: #434343;
}

/* Heading element */
h2, h3 {
    margin: 20px;
}

h2 {
    font-size: 3rem;
    font-family: 'Merienda', cursive;
    color: #0F4C75;
}

h3 {
    font-size: 2rem;
}

/* p element */
p {
    font-size: 1.5rem;
}

/* Mobile and Table */
@media only screen and (max-width: 1024px) {
    h2, h3 {
        margin: 20px 10px;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F80B70;
    border-bottom: 1px solid #fff;
    padding: 10px 20px;

    position: fixed;
    width: 100%;
    z-index: 10;
}

/* Logo */
.logo {
    display: block;
    height: 100px;
    width: auto;
    border-radius: 50%;
}

/* nav Mobile & Tablet */
@media only screen and (max-width: 1024px) {
    nav {
        width: 70%;
    }

    .nav-item {
        visibility: hidden;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

}

/* Nav Desktop */
@media only screen and (min-width: 1025px) {
    nav {
        width: 50%;
    }

    nav ul li a {
        font-size: 1.5rem;
    }
}

/* Nav's list */
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    color: #0BF893;
}

li a:hover {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
}

li a:active {
    color: #fff;
}

#bar-button:hover {
    padding: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

/* Main */
/* Home */
#home {
    height: 100vh;
    border-bottom: 1px solid #fff;
    
    background-image: url("../images/home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#home article {
    position: relative;
    bottom: 40px;
    padding: 20px;
}

#home h1 {
    font-family: 'Merienda', cursive;
    font-size: 6rem;
    color: #F88B53;
}

#home p {
    font-size: 3rem;
    color: #F8895C;
}

/* Mobile & Table */
@media only screen and (max-width: 1024px) {
    #home h1 {
        font-size: 5rem;
    }

    #home p {
        font-size: 2rem;
    }
}

/* Projects */
#projects {
    text-align: center;
}

#projects .logo {
    margin: 20px auto;
    height: 150px;
}

/* Projects #introduce */
#introduce {
    padding: 20px;
    background-color: #fffafa;
}

#introduce a, #introduce a:visited {
    color: #A2BACA;
    text-decoration: underline;
}

#introduce a:hover {
    color: #434343;
    cursor: pointer;
}

#introduce a:active {
    color: #ff0000;
}

/* #introduce Desktop */
@media only screen and (min-width: 1025px) {
    #introduce {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #introduce .logo {
        height: 200px;
    }

    #introduce p {
        width: 60%;
        margin: 20px auto;
    }
}

/* Projects .project */
.project {
    padding: 40px;
    color: #fff;
}

.project h2 {
    color: #fff;
}

.project img {
    max-width: 100%;
}

/* Project .link-button */
.link-button {
    color: #fff;
    text-decoration: none;

    display: inline-block;
    padding: 20px 100px;
    margin-top: 30px;
    
    border: 1px solid transparent;
    border-radius: 40px;
}

/* Specific project */
/* Pomodoro Page */
#pomodoro-page {
    background-color: #31355B;
}

#pomodoro-page a {
    background-color: #8187bb;
}

#pomodoro-page a:hover {
    background-color: #6069bb;
}

#pomodoro-page a:active {
    background-color: #3441bb;
}

/* Calculator Page */
#calculator-page {
    background-color: #F8C687;
}

#calculator-page a {
    background-color: #67a7f5;
}

#calculator-page a:hover {
    background-color: #4995f3;
}

#calculator-page a:active {
    background-color: #2b88fa;
}

/* Company Page */
#company-page {
    background-color: #7DCC93;
}

#company-page a {
    background-color: #c953a7;
}

#company-page a:hover {
    background-color: #c72e9c;
}

#company-page a:active {
    background-color: #c91395;
}


/* Skills */
#skills {
    text-align: center;
    padding-bottom: 40px;
    background-color: #fffafa;
}

#skills article {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    margin-top: 20px;
    font-size: 3rem;
    border-radius: 50%;
}

/* Footer */
footer {
    background-color: #1B262C;
    color: #EAD5AA;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

